<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Create Account</h1>
<form action="v1/createUser.php" method="post" id="create_user_form">
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname" required><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" required><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required>
    <button type="submit" id="btnsubmit">Create!</button>
</form>

</body>
</html>